/* ----- Resumé page ----- */
#resume {
    align-items: center;
    justify-content: center;
}

/* Container for H2 and H3 in #resume */
.resume-links-con {
    width: 60%;
    
    transition: .2s ease-in-out box-shadow,
    .2s ease-in-out all;
}

#resume > h2 {
    margin: 1rem auto;
}

.h3 {
    font-family: 'Josefin-Sans', 'Helvetica', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;

    justify-content: space-evenly;
}

#resume-content1 > ul {
    flex: 1 0 calc(100% / 3);

    max-height: calc(100% / 10 * 9);

    padding: .5rem;

    margin-bottom: 4rem;

}

#resume-content2 > li {
    padding: .5rem;
}

#portfolio {
    white-space: nowrap;
    overflow-x: scroll;
}

#portfolio > div {
    /* align-items: center; */
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#portfolio > figure {
    margin: 10vh 1rem;
    align-items: center;
    padding: .5rem;
    background-color: whitesmoke;
}

figure > img {
    margin: .5rem;
    height: calc(100% - 1rem);
}