@media all and (max-width: 48em) {
    header {
        width: 94vw;
        margin: 0 3vw;
    }
    .the-svg {
        width: 80vw;
    }
}
/* 
@media all and (max-width: 30em) {
    .the-svg {
        width: 90vw;
    }
} */