@media all and (min-width: 321px) {
    #svg-con {
        width: 90vw;
    }
    .scroll-child {
        scroll-snap-align: center;
    }
    .h2 {
        font-size: calc(4vw + 1rem);
    }

    #resume-content1 > ul {
        min-width: calc(5vw + 7rem);
    }

    li {
        font-size: calc(1vw + 1rem);
    }

    /* ----- Portfolio page ----- */
    #portfolio {
        margin-right: 5rem;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
    }
    
    #portfolio .h2 {
        margin: 0 auto;
        scroll-snap-align: center;
    }

    #portfolio .content {
        height: 90vh;
    }
    
    figure {
        margin: 0 1vw;
        width: fit-content;
        padding: .25rem;
        justify-content: space-between;
    }
    
    figure > img {
        width: auto;
        height: auto;
        margin: .5rem;
        max-height: calc(85vh - 1rem);
    }
    
    figcaption {
        max-height: 5rem;
    }

}
@media all and (min-width: 768px) {
    #svg-con {
        width: 80vw;
    }
    h2 {
        font-size: 5rem;
    }
    text {
        font-size: 1.8rem;
        font-weight: 700;
    }

    figure {
        background-color: rgb(238, 235, 230);
        border-radius: .25rem .25rem .25rem .25rem;
    }
}