@media all and (min-width: 321px) {
    #svg-con {
        width: 90vw;
    }
    .scroll-child {
        scroll-snap-align: center;
    }
    li {
        font-size: calc(1vw + .8rem);
    }

    /* ----- Portfolio page ----- */
    #portfolio {
        overflow-x: scroll;
        scroll-snap-type: x proximity;
    }
    
    #portfolio .h2 {
        margin: unset;
        margin: 0 auto;
        scroll-snap-align: center;
    }

    #portfolio .content {
        height: 90vh;
    }
    
    figure {
        margin: unset;
        margin: 0 calc(2vw + 1rem);
        width: fit-content;
        padding: .5rem;
        height: fit-content;
        justify-content: space-between;
    }
    
    figure > img {
        width: auto;
        height: auto;
        margin: .5rem;
        max-height: calc(80vh - 2rem);
    }

}
@media all and (min-width: 768px) {
    #svg-con {
        width: 80vw;
    }
    h2 {
        font-size: 4rem;
    }
    text {
        font-size: 1.8rem;
        font-weight: 700;
    }

    figure {
        background-color: rgb(238, 235, 230);
        border-radius: .25rem .25rem .25rem .25rem;
    }
}