* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;

    font-family: 'Old Standard TT', 'Times', serif;
    font-weight: 400;
    color: rgb(31, 27, 25);
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=f0d8d8ff&noise=9c9403&density=86&opacity=16) repeat;

    scroll-behavior: smooth;
}
/* 
.viewport-border {
    box-shadow: 0 0 0 5vw black inset;
} */

.scroll-parent {
    height: 100vh;

    overflow: auto;
    scroll-snap-type: y mandatory;
}

.scroll-child {
    height: 100vh;
    scroll-snap-align: start;
}

.frontpage {
    justify-content: center;
    align-items: center;
}

    #svg-con {
        width: 60vw;
    }

        text {
            font-size: 1.8rem;
            font-weight: 700;
        }

li {
    font-size: 1.3rem;
    list-style: none;
    padding: .2rem;
}

a {
    color: rgb(24, 23, 23);
    text-decoration: none;
}

#contact {
    height: 15rem;
    width: 100%;

    justify-content: center;
    align-items: center;

    scroll-snap-align: end;
}

#contact > ul {
    justify-content: center;
}

h5 {
    font-family: 'Josefin-Sans', 'Helvetica', sans-serif;
    font-size: 1.4rem;

    margin: 0 .2rem 1rem .2rem;
}