* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100%;

    font-family: 'Old Standard TT', 'Times', serif;
    font-weight: 400;
    color: rgb(31, 27, 25);
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=f0d8d8ff&noise=9c9403&density=86&opacity=16) repeat;

    scroll-behavior: smooth;
} 

.scroll-parent {
    height: 100vh;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y proximity;
}

.scroll-child {
    -webkit-box-shadow: inset 0px 0px 22px -12px rgba(97,9,6,1);
    -moz-box-shadow: inset 0px 0px 22px -12px rgba(97,9,6,1);
    box-shadow: inset 0px 0px 22px -12px rgba(97,9,6,1);
    
    height: 100vh;
    scroll-snap-align: start;
}

.scroll-child:last-child {
    -webkit-box-shadow: inset 0px 38px 22px -51px rgba(97,9,6,1);
    -moz-box-shadow: inset 0px 38px 22px -51px rgba(97,9,6,1);
    box-shadow: inset 0px 38px 22px -51px rgba(97,9,6,1);}

/* ----- Welcome page ----- */

header {
    width: 94vw;
    justify-content: center;
}
#svg-con {
    width: 90vw;
}

        text {
            font-size: 1.8rem;
            font-weight: 700;
        }

li {
    font-size: 1rem;
    list-style: none;
}

a {
    color: rgb(24, 23, 23);
    text-decoration: none;
    cursor: pointer;
}

#contact {
    height: 15rem;
    width: 100%;

    text-align: center;

    scroll-snap-align: end;
}